<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Helix</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/emojione/2.2.6/assets/css/emojione.min.css"/>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
<header>
    <nav>
        <div class="grey darken-4 nav-wrapper">
            <a href="#!" class="brand-logo"><i style="margin-left: 20px" class="material-icons">ac_unit</i>Helix</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="sass.html"><i class="material-icons">search</i></a></li>
                <li><a href="badges.html"><i class="material-icons">view_module</i></a></li>
                <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
                <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
            </ul>
        </div>
    </nav>
</header>
<main id="app">
    <div class="row">
        <div class="col s12">
            <div class="card horizontal">
                <div id="chat-messages" class="card-content" v-html="chatContent">
                </div>
            </div>
        </div>
    </div>



    <div class="row" v-if="joined">

        <div class="input-field col s8">
            <input type="text" v-model="newMsg" @keyup.enter="send">
        </div>
        <div class="input-field col s4">
            <button class="waves-effect waves-light btn" @click="send">
                <i class="material-icons right">chat</i>
                Send
            </button>
        </div>
    </div>
    <div class="row" v-if="!joined">
        <div name="dbselect" id="dbselect" class="input-field col s8">
            <select name="dbname" id="dbname" class="browser-default">
                <option value="" disabled selected>Choose DB</option>
            </select>
            <select name="colname" id="colname" class="browser-default">
                <option value="" disabled selected>Choose COL</option>
            </select>

            <input name="pas" id="pas" type="password" placeholder="Password">

            <button name="updb" id="updb" class="waves-effect waves-light btn">
                <i class="material-icons right">done</i>
                Upload
            </button>
            <form action="/downDb" method="post" enctype="multipart/form-data" class="uploadForm">
                <input class="uploadForm__input" type="file" name="file" id="inputKey">
                <li><a class="waves-effect waves-light btn" >Download</a></li>
            </form>
        </div>

        <div class="input-field col s8">
            <input type="email" v-model.trim="email" placeholder="Email">
        </div>
        <div class="input-field col s8">
            <input type="text" v-model.trim="username" placeholder="username">
        </div>
        <div class="input-field col s4">
            <button class="waves-effect waves-light btn" @click="join()">
                <i class="material-icons right">done</i>
                Join
            </button>
        </div>
        <div class="input-field col s8">
            <input type="email" v-model.trim="email" placeholder="Build Hash">
        </div>
        <div class="input-field col s8">
            <input type="password" v-model.trim="username" placeholder="Password">
        </div>
        <div class="input-field col s4">
            <button class="waves-effect waves-light btn" @click="join()">
                <i class="material-icons right">done</i>
                Download
            </button>
        </div>
    </div>
    <form action="/upload" method="post" enctype="multipart/form-data" class="uploadForm">
        <input class="uploadForm__input" type="file" name="file" id="inputFile">
        <li><a class="waves-effect waves-light btn" >Upload</a></li>
    </form>
    <form action="/download" method="post" enctype="multipart/form-data" class="uploadForm">
        <input class="uploadForm__input" type="file" name="file" id="buildFile">
        <li><a class="waves-effect waves-light btn" >Download</a></li>
    </form>
    <form action="/datamap" method="post" enctype="multipart/form-data" class="uploadForm">
        <input class="uploadForm__input" type="file" name="file" id="dataMap">
        <input type="hidden" id="hash" name="hash">
        <input type="hidden" id="filename" name="filename">
        <li><a class="waves-effect waves-light btn" >Datamap</a></li>
    </form>
    <div class="notification" id="alert"></div>
</main>
<footer class="page-footer grey darken-4">
</footer>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue@2.1.3/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/emojione/2.2.6/lib/js/emojione.min.js"></script>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/md5.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<script src="/app.js"></script>
<script src="/api.js"></script>
</body>
</html>